# Auto detect text files and perform LF normalization
* text=auto

# The checksums of the files that the compiler uses are stored in the pdb.
# Unfortunately, 'Git on Windows' (msysgit) behaves like core.autocrlf=true by default.
# Make git always keep the LF line endings (i.e. not normalize *.cs files) both in 'repo'
# and 'working folder' in order for checksums to pass.
*.cs       text diff=csharp eol=lf
*.sln      text merge=union eol=crlf
*.csproj   text merge=union eol=crlf

*.md       text eol=lf

*.cmd      text eol=crlf
*.ps1      text eol=crlf
*.config   text eol=crlf
*.css      text eol=crlf
*.nuspec   text eol=crlf
*.scss     text eol=crlf
*.cshtml   text eol=crlf
*.html     text eol=crlf
*.js       text eol=crlf
*.ts       text eol=crlf
*.msbuild  text eol=crlf
*.resx     text merge=union
*.ruleset  text
*.Stylecop text
*.targets  text eol=crlf
*.tt       text
*.txt      text eol=crlf
*.xml      text eol=crlf
*.xunit    text eol=crlf

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary

# Standard to msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.pdf   diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
